In [1]:
import requests
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
df = pd.read_csv('step_4_lesson_7.csv')
df['date'][0]

'2020-06-15'

In [13]:
user_type = df.groupby('user_type', as_index = False)\
    .agg({'visits':'sum'})
user_type['perc'] = 100 * user_type['visits'] / user_type['visits'].sum()

In [14]:
user_type

  user_type  visits      perc
0    People   417.0  70.20202
1    Robots   177.0  29.79798

In [31]:
yandex_visits = df.query('browser == "Yandex Browser"')['visits'].sum()
type(yandex_visits)

numpy.float64

In [36]:
print("Today, " + df['date'][0] + ", were " + str(int(yandex_visits)) + " users from Yandex Browser")

Today, 2020-06-15, were 54 users from Yandex Browser

In [39]:
yandex = df.query('browser == "Yandex Browser"')

# посчитаем долю ботов и реальных людей от общего числа пользователей
bots_n_people = yandex.groupby('user_type', as_index=False).agg({'visits': 'sum'})
bots_n_people['perc'] = 100 * bots_n_people['visits'] / bots_n_people['visits'].sum()
bots = bots_n_people.query('user_type == "Robots"')['perc']
people = bots_n_people.query('user_type == "People"')['perc']

In [42]:
bots_n_people

  user_type  visits       perc
0    People    47.0  87.037037
1    Robots     7.0  12.962963

In [50]:
bots_n_people['perc']

12.962962962962964

In [52]:
round(bots.iloc[0], 3)

12.963